/* @font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
} */

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --milk: hsl(0, 10%, 86%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --size-xs: 0.94rem;
    --size-sm: 1.25rem;
    --size-md: 1.875rem;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 var(--size-sm); */
    padding-inline: var(--size-sm);
    background-color: var(--grey-900);
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    /* border: 1px solid orange; */
}

.container {
    width: 100%;
    max-width: 23.44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-sm);
    background-color: var(--grey-800);
    border-radius: 12px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-md);
}

img {
    max-width: 6.25rem;
    border-radius: 50%;
    /* margin-top: var(--size-md); */
    margin-block-start: var(--size-md);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.13rem;
}

h1 {
    font-size: 1.63rem;
    font-weight: 600;
}

h2 {
    font-size: var(--size-xs);
    font-weight: 600;
    color: var(--green);
}

p {
    color: var(--milk);
    font-weight: 400;
}

.accts {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    /* margin-bottom: var(--size-md); */
    margin-block-end: var(--size-md);
}

.accts a {
    background-color: var(--grey-700);
    color: var(--white);
    /* padding: var(--size-xs) 5rem; */
    padding-block: var(--size-xs);
    padding-inline: 5rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
}





@media only screen and (min-width: 90em) {
    .accts a {
        /* padding: var(--size-xs) 5.63rem; */
        padding-block: var(--size-xs);
        padding-inline: 5.63rem;
    }

    .accts a:hover,
    .accts a:focus {
        background-color: var(--green);
        color: var(--grey-900);
        cursor: pointer;
        outline: none;
    }
}