@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100..900&display=swap');

:root {
    --primary-500: hsl(158, 36%, 37%); 
    --primary-700: hsl(158, 42%, 18%); 

    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    --size: 14px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--size);
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--grey);
    background-color: var(--cream);
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 120px;
    padding-bottom: 30px;
    background-color: var(--white);
    border-radius: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.desktop {
    display: none;
}

.description {
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#name {
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    max-width: 265px;
    line-height: 28px;
    font-family: "Fraunces";
    font-size: 28px;
    color: var(--black);
}

.description p {
    max-width: 240px;
    font-size: 12px;
    line-height: 18px;
}

.price-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#cp {
    font-size: 24px;
    font-family: "Fraunces";
    font-weight: 700;
    color: var(--primary-500);
}

#pp {
    align-self: center;
    font-size: 10px;
    font-weight: 600;
    text-decoration: line-through;
}

button {
    max-width: 230px; 
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 15px;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-500);
    border: none;
    border-radius: 5px;
}

button img {
    max-width: 12px;
}





@media only screen and (min-width: 390px) {
    h1 {
        max-width: none;
    }

    .description p {
        max-width: none;
    }

    button {
        max-width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
        max-width: 500px;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    img {
        max-height: 380px;
        /* flex: 1; */
        border-radius: 5px 0 0 5px;  
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: inline-block;
    }

    /* .description {
        flex: 3;
        min-height: 300px;
    } */

    #name {
        font-size: 10px;
    }

    h1 {
        max-width: 200px;
        margin-bottom: 5px;
    }

    .description p {
        max-width: 200px;
        margin-bottom: 5px;
        margin-bottom: 5px;
    }

    button {
        margin-top: 8px;
        max-width: 200px;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--primary-700);
    }
}

/* perge hinc */
/* Try to understand how img and .description adapted to taking equal sizes */