@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100..900&display=swap');

:root {
    --primary-500: hsl(158, 36%, 37%); 
    --primary-700: hsl(158, 42%, 18%); 
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    --size-2xs: 0.31rem;
    --size-xs: 0.625rem; 
    --size-sm: 0.75rem; 
    --size-md: 0.94rem; 
    --size-lg: 1.75rem; 
    --size-xl: 12.5rem; 
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--cream);
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-block-start: 3.75rem;
    margin-block-end: 7.5rem;
    padding-block-end: 1.9rem;
    background-color: var(--white);
    border-radius: 5px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.desktop {
    display: none;
}

.description {
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
}

.name {
    text-transform: uppercase;
    letter-spacing: 0.19rem;
}

h1 {
    max-width: 16.56rem;
    line-height: var(--size-lg);
    font-family: "Fraunces", sans-serif;
    font-size: var(--size-lg);
    color: var(--black);
}

p {
    max-width: 15rem;
    font-size: var(--size-sm);
    line-height: 1.125rem;
}

.price-list {
    display: flex;
    gap: var(--size-md);
    flex-wrap: wrap;
}

.cp {
    font-size: 1.5rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: var(--primary-500);
}

.pp {
    align-self: center;
    font-size: var(--size-xs);
    font-weight: 600;
    text-decoration: line-through;
}

button {
    max-width: 14.38rem; 
    display: flex;
    justify-content: center;
    gap: var(--size-xs);
    padding-block: var(--size-sm);
    padding-inline: var(--size-md);
    font-family: "Montserrat", sans-serif;
    font-size: var(--size-xs);
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-500);
    border: none;
    border-radius: 5px;
}

button img {
    max-width: var(--size-sm);
}





@media only screen and (min-width: 24.38em) {
    h1, p {
        max-width: none;
    }

    button {
        max-width: 18.75rem;
    }
}

@media only screen and (min-width: 48em) {
    .container {
        width: 90%;
        max-width: 31.25rem;
        flex-direction: row;
        gap: 1.56rem;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-block-end: 0;
    }

    img {
        max-height: 23.75rem;
        border-radius: 5px 0 0 5px;  
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .name {
        font-size: var(--size-xs);
    }

    h1, p {
        max-width: var(--size-xl);
        margin-block-end: var(--size-2xs);
    }

    button {
        margin-block-start: 0.5rem;
        max-width: var(--size-xl);
    }

    button:hover {
        cursor: pointer;
        background-color: var(--primary-700);
    }
}
/* perge hinc */