@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-700: hsl(228, 45%, 44%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-width: 23.44rem;
    max-height: 50.8rem;
    background-color: var(--slate-300);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 20rem;
    min-height: 31.2rem;
    margin: 9.8rem auto;
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 1.3rem;
    background-color: var(--white);
    text-align: center;
}

.container img {
    max-width: 100%;
    border-radius: 0.63rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 18rem;
    max-height: 8.2rem;
    padding: 0 1rem;
}

.content h1 {
    width: 100%;
    max-width: 16rem;
    max-height: 3.3rem;
    color: var(--slate-900);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0rem;
}

.content p {
    width: 100%;
    max-width: 16rem;
    max-height: 3.94rem;
    color: var(--slate-500);
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.013rem;
}

.attribution {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    color: var(--slate-700);
}





@media only screen and (min-width: 20em) {
    .container {
        max-width: 18.8rem;
        min-height: 28.13rem;
}

    .container img {
        max-width: 100%;
}

    .content {
        max-width: 16.8rem;
    }

    .content h1 {
        max-width: 16rem;
        font-size: 1.3rem;
    }

    .content p {
        max-width: 16rem;
        font-size: 0.813rem;
    }
}

@media only screen and (min-width: 90em) {
    body {
        min-width: 90rem;
        min-height: 60rem;
    }

    .container {
        margin: 14.41rem auto;
    } 
} 