@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/static/Figtree-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

:root {
    --yellow: #F4D04E;
    --gray-950: #111;
    --gray-500: #6B6B6B;
    --white: #FFF;
    --black: #000;

    --body-text: 1rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 23.44rem;
    min-height: 50.8rem;
    color: var(--gray-950);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100dvh; */
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
    font-size: var(--body-text);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 150%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 20.44rem;
    max-height: 31.31rem;
    margin: 9.8rem auto;
    padding: 1.5rem;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 var(--black);
    background-color: var(--white);
}

img {
    max-width: 100%;
    /* max-width: 17.44rem; */
    max-height: 12.5rem;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    max-width: 17.44rem;
    max-height: 10.81rem;
}

.title {
    width: 4.6rem;
    height: 1.63rem;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    background-color: var(--yellow);
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.1rem;
    height: 1.13rem;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 800;
}

.date {
    width: 7.7rem;
    height: 1.1rem;
    font-size: 0.75rem;
    font-weight: 500;
}

h2 {
    width: 17.4rem;
    height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 800;
}

 h2 + p {
    width: 17.4rem;
    height: 3.9rem;
    font-size: 0.875rem;
    color: var(--gray-500);
    font-weight: 500;
}

.author {
    display: flex;
    justify-content: flex-start;
    gap: 0.75rem;
    width: 8.06rem;
    height: 2rem;
}

.author img {
    width: 100%;
    max-width: 2rem;
    max-height: 2rem;
}

h3 {
    align-self: center;
    width: 5.3rem;
    height: 1.3rem;
    color: var(--gray-950);
    font-size: 0.875rem;
    font-weight: 800;
}





@media only screen and (min-width: 90em) {
    body {
        min-width: 90rem;
        min-height: 60rem;
    }

    .container {
        max-width: 24rem;
        max-height: 32.6rem;
        margin: 13.7rem auto;
    }

    img {
        max-width: fit-content;
    }

    .content {
        max-width: inherit;
        max-height: 12.13rem;
    }

    .title {
        width: 5.13rem;
        height: 1.8rem;
    }

    h1 {
        width: 3.63rem;
        height: 1.3rem;
        font-size: 0.875rem;
    }

    .date {
        width: 8.94rem;
        height: 1.3rem;
        font-size: 0.875rem;
    }

    h2 {
        width: 21rem;
        height: 2.25rem;
        font-size: 1.5rem;
    }

    h2:hover,
    h2:focus {
        color: var(--yellow);
    }

    h2 + p {
        width: 21rem;
        height: 4.5rem;
        font-size: 1rem;
    }
}